<h1><%= @article.title %></h1>

<%= @article.process_article %>

<div style="width: 400px;">
	<canvas id="chart" width="400" height="400"></canvas>
</div>

<%= form_tag "/articles/#{@article.id}", method: 'get' do %>
	<button>Load Comments</button>
<% end %>

<p> </p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>

<script>
	var $btn = $('button');

	var ctx = document.getElementById("chart").getContext('2d');

	$.ajax({
		url: '/api/articles/<%= @article.id %>'
	}).done(function(res) { 
		console.log(res);
		new Chart(ctx, {
	    data: {
	    	datasets: [{
	    		data: Object.values(res["histogram"])
	    	}],
	    	labels: Object.keys(res["histogram"])
	    },
	    type: 'polarArea',
		});

		$btn.on("click", function(event) {
			event.preventDefault();
			// console.log(res.comments)
			console.log(res.comments[0].feedback)
			var $para = $('p')
			$para.html(res.comments[0].feedback)
		});


	});

</script>