<form action="/games" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"
	
	<label for="">Name of game</label>
	<input type="" name="name">

	<button>Create</button>

</form>