<h1>Magic 8 Ball Game</h1>

<form action="/magic_answer" method="get">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"
	
	<label for="">Question</label>
	<input type="" name="question">

	<button>Ask</button>

</form>



