<h1>Secret Number</h1>

<form action="/secret_answer" method="get">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"
	
	<label for="">Choose any number between 0 to 10</label>
	<input type="" name="num">

	<button>Enter</button>

</form>
