<h1>Here are the students</h1>
<% @students.each do |student| %>
  <div>
   <h2>Name: <%= link_to student.name, student_path(student) %>, House- <%= @house.where(id: student.house_id)[0].name %> </h2>
    <!-- <a href="students/<%= student.id %>"><%= student.name %></a> -->
<% end %>
  </div>