<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Add Compliment</h1>

	<form action="/show" method="post">
		<label for="">Compliment</label>
		<input type="text" name="compliment">
		<button>Add</button>
	</form>

</body>
</html>