<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Compliments</h1>
	<p>
		<% for (var i = 0; i < newArr.length; i++) { %>
			<h1><%= newArr[i] %></h1>
		<% } %>
	</p>

</body>
</html>